#BarTitle{
	margin-left: 5%;
	width: 95%;
	height: 100%;
	font-family:微軟正黑體;
	color: #005AB5;
	font-size: 12px;
	line-height:29px;
}
#TitleBarSelect {
	float: right;
	margin-top: -25px;
}
#TitleBarSelectYear {
	float: right;
	margin-right: 60px;
	margin-top: -25px;
}